@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --foreground: 220 20% 10%; /* Темний колір тексту */
    --card: 0 0% 98%; /* Дуже світло-сірий фон для карток */
    --card-foreground: 220 10% 20%; /* Темно-сірий текст на картках */

    /* Інші змінні залишаються без змін */
    --popover: 0 0% 100%;
    --popover-foreground: 200 20% 20%;
    --primary: 210 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 92%; /* Світло-сірий для акцентів */
    --secondary-foreground: 0 0% 20%; /* Темно-сірий текст для акцентів */
    --muted: 180 10% 95%;
    --muted-foreground: 180 5% 30%;
    --accent: 0 0% 90%; /* Акцентний сірий */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%; /* Світло-сірий для рамок */
    --input: 0 0% 98%; /* Дуже світло-сірий фон для введення */
    --ring: 0 0% 80%; /* Сірий для виділення */
    --radius: 1rem;
  }
}

* {
  font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 6px; /* Ширший скролбар */
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #f4f4f4; /* Світлий фон для треку скролбару */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #c7c7c7; /* Світло-сірий скролбар */
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1; /* Темніший при наведенні */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground; /* Білий фон для сторінки */
  }
}
